@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");


:root{
    --cor-de-fundo: rgb(216, 129, 48);
    --cor-do-cabecalho: rgb(180, 84, 28);
    --cor-do-menu: rgba(245, 209, 8, 0.726);
    
}
body{background-color: var(rgb(238, 141, 49));}